## OpenAI
OPENAI_API_KEY=your_openai_api_key
OPENAI_EMBEDDING_MODEL=your_embedding_model
VECTOR_SEARCH_SIMILARITY_THRESHOLD=0.15
OPENAI_EMBEDDING_BATCH_SIZE=100

## Database
DATABASE_URL=sqlite:///./app.db
## JWT
SECRET_KEY=your_secret_key

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60